
* {
    font-family: 'Frank Ruhl Libre', serif;
    margin: 0px;
    
}

body {
    width: 100vw;
}

header {
    background: rgba(0, 0, 0, 0.4) url(../img/IMG_2081.JPG); 
    background-blend-mode: darken;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.nav-style {
background-color: rgb(223, 160, 234);
}

.titulo {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 40px;
    padding-top: 70px;
    color: rgb(255, 255, 255);
    font-size: 80px;
}

h2 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(223, 160, 234);
}
.color1 {
    background-color: rgb(223, 160, 234);
}


.background2 {
    background: black;
    height: auto;
    
}

@media (min-width: 1400px) {
    .background2 {
        background: black;
        height: 100vh; 
    }
}

.foto {
    width: 300px;
    border-radius: 15px 50px;
    padding: 10px;
    border: 2px solid rgb(223, 160, 234);
}

.cardwidth {
    width: 370px;
    height: 500px;
}

.imgheight {
height: 300px
}

.icon1 {
    font-size: 40px;
}

.padding1 {
    padding-top: 100px;
}

.padding2 {
    padding-top: 100px;
}

.title-style{
    color: rgb(223, 160, 234);
}

